/* Control overlay styling */
.controls {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.controls button {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    pointer-events: auto;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

/* Precise positioning relative to map edges */
.controls button[data-dir="n"] { top: 0; left: 50%; transform: translateX(-50%); }
.controls button[data-dir="s"] { bottom: 0; left: 50%; transform: translateX(-50%) translateY(-50%) translateY(-6px); }
.controls button[data-dir="w"] { left: 0; top: 50%; transform: translateY(-100%) translateY(8px); }
.controls button[data-dir="e"] { right: 0; top: 50%; transform: translateY(-100%) translateY(8px); }


@media screen and (max-width: 180mm) {
    .controls button[data-dir="s"] { bottom: 0; left: 50%; transform: translateX(-50%) translateY(-50%) translateY(10px); }
}